@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Shopping.lib.ViewModels.AboutManagementViewModel

<form asp-controller="About" asp-action="Save" id="Save" method="post">
    <input type="hidden" class="form-control" name="@( nameof( Model.id_ ) )" asp-for="id_" />
    <input type="hidden" class="form-control" name="@( nameof( Model.ActionType ) )" asp-for="ActionType" />
    
    <!-- 標題 -->
    <div class="row mt-3">
        <div class="col-sm-2 col-3 text-end">
            <span class="text-danger">*</span>
            <label for="@( nameof( Model.title_ ) )" class="col-form-label">標題</label>
        </div>
        <div class="col-sm-9 col-9">
            <textarea class="form-control" rows="5" name="@( nameof( Model.title_ ) )" asp-for=title_ maxlength="100"></textarea>
            <span class="text-danger" asp-validation-for="title_"></span>
        </div>
    </div>
    
    <!-- 內文 -->
    <div class="row mt-3">
        <div class="col-sm-2 col-3 text-end">
            <span class="text-danger">*</span>
            <label for="@( nameof( Model.content_ ) )" class="col-form-label">內文</label>
        </div>
        <div class="col-sm-9 col-9">
            <textarea class="form-control" rows="5" name="@( nameof( Model.content_ ) )" asp-for=content_ maxlength="500"></textarea>
            <span class="text-danger" asp-validation-for="content_"></span>
        </div>
    </div>
    
    <!-- 尾段 -->
    <div class="row mt-3">
        <div class="col-sm-2 col-3 text-end">
            <span class="text-danger">*</span>
            <label for="@( nameof( Model.footer_ ) )" class="col-form-label">尾段</label>
        </div>
        <div class="col-sm-9 col-9">
            <textarea class="form-control" rows="5" name="@( nameof( Model.footer_ ) )" asp-for=footer_ maxlength="500"></textarea>
            <span class="text-danger" asp-validation-for="footer_"></span>
        </div>
    </div>
    
    
    <br>
    <!-- 確認或取消 -->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary closeModal">取消</button>
        <button type="submit" class="btn btn-outline-primary">確認</button>
    </div>
</form>