@using ShoppingBackstage.Areas.Account.ViewModels;
@using ShoppingBackstage.PageListRenderOptionsExtensions
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<AdminAccountViewModels>

@{
    ViewData["Title"] = "帳號管理";
    int index = (Model.PageNumber - 1) * Model.PageSize + 1;
    var pageUrl = Url.Action("List");
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "List"
    };
}

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th class="col-auto">#</th>
                    <th class="col-1">使用者名稱</th>
                    <th class="col-1">帳號</th>
                    <th class="col-2">密碼雜湊值</th>
                    <th class="col-1">電話</th>
                    <th class="col-2">信箱</th>
                    <th class="col-1">創建時間</th>
                    <th class="col-1">最後修改時間</th>
                    <th class="col-1">修改者</th>
                    <th class="col-1">動作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(index)</td>
                        <td>@item.username_</td>
                        <td>@item.account_</td>
                        <td class="text-truncate" style="max-width: 150px;" title="@item.password_">@item.password_</td>
                        <td>@item.phone_</td>
                        <td class="text-truncate" style="max-width: 150px;" title="@item.email_">@item.email_</td>
                        <td>@item.create_time_.ToString("yyyy-MM-dd")</td>
                        <td>@item.modify_time_.ToString("yyyy-MM-dd")</td>
                        <td>@item.modify_id_</td>
                        <td>
                            <button class="btn btn-sm editAccount" type="button" title="編輯" data-id="@item.id_">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-sm deleteAccount" type="button" title="刪除" data-id="@item.id_">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>
    <br>
    <div class="row">
        <div class="my-2 d-flex justify-content-end">
            @Html.PagedListPager(Model, page => $"{pageUrl}{(pageUrl.Contains("?") ? "&" : "?")}page={page}", CustomPageListRenderOption.CustomEnableUnobtrusiveAjaxReplacing(ajaxOptions))
        </div>
    </div>
</div>